/*.ant-menu-horizontal > .ant-menu-item{*/
/*float:right;*/
/*}*/

.main{
  .header{
      z-index: 999;
      background: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
      padding:0 16px 0 8px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    #avatar{
      margin-left:16px;
      height:60px;
      display: flex;
      align-items: center;
    }
    .ant-menu-submenu{
      height:64px !important;
      line-height: 64px !important;
    }
    .ant-menu-horizontal{
      line-height: 64px !important;
    }
  }
}
.avatar-menu{
  color:rgba(0,0,0,.65);
  display: flex;
  flex-direction: column;
  white-space: normal;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  .info{
    display:flex;
    flex-direction: row;
    padding-bottom: 15px;

    .left{
      display: flex;
      align-items: center;
    }

    .right{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

}