/*.ant-menu-horizontal > .ant-menu-item{*/
/*float:right;*/
/*}*/

.main{
  .header{
    z-index: 999;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }
}